<div class="flex w-[70%] m-auto justify-evenly mt-[20px]">
  <div class="cursor-pointer border-b-2 border-transparent hover:border-blue-200">
    <p class="hover:text-blue-300" routerLink="">WorkOut Form</p>
  </div>
  <div class="cursor-pointer border-b-2 border-transparent hover:border-blue-200">
<p class="hover:text-blue-300" routerLink="userList">User Lists</p>
  </div>
  <div class="cursor-pointer border-b-2 border-transparent hover:border-blue-200">
<p class="hover:text-blue-300" routerLink="userProgress">Progress Reports</p>
  </div>
</div>



<router-outlet></router-outlet>

