<div class="p-4 mt-[20px] bg-gray-100 mx-auto rounded flex flex-col items-start jusitfy-start w-[90%]">
  <div class="flex justify-between w-[100%]">
    <div class="mb-4 w-[40%]">
      <mat-form-field class="w-[100%]">
        <input matInput type="search" [(ngModel)]="searchName" class="p-2 border rounded w-full"
          placeholder="Search by name" (input)="filterUsers()" />

      </mat-form-field>
    </div>
    <div class="mb-4 w-[40%]">
      <mat-form-field class="w-[100%]">
        <mat-select [(ngModel)]="selectedWorkoutType" (selectionChange)="filterUsers()">
          <mat-option *ngFor="let type of workoutTypes" [value]="type">{{ type }}</mat-option>
        </mat-select>
      </mat-form-field>

    </div>
  </div>
  <table mat-table [dataSource]="paginatedUsers" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
    <ng-container matColumnDef="workouts">
      <th mat-header-cell *matHeaderCellDef> WorkOuts </th>
      <td mat-cell *matCellDef="let element"> {{getUsersWorkOutType(element)}} </td>
    </ng-container>
    <ng-container matColumnDef="numberOfWorkouts">
      <th mat-header-cell *matHeaderCellDef>Number of Workouts</th>
      <td mat-cell *matCellDef="let element"> {{element.workouts.length}} </td>
    </ng-container>
    <ng-container matColumnDef="totalWorkoutMinutes">
      <th mat-header-cell *matHeaderCellDef>Total Workout Minutes</th>
      <td mat-cell *matCellDef="let element"> {{getTotalMinutes(element)}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>


  <div class="flex items-center justify-center mt-[20px] w-[100%] mx-auto">
    <mat-paginator [length]="filteredUsers.length" [pageSize]="pageSize"
    [pageSizeOptions]="[1,5, 10, 15, 25, 30, 50, 100]" (page)="handlePageEvent($event)" aria-label="Select page">
  </mat-paginator>
  </div>


</div>